@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap' );
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-size:20px;
    text-align: center;
    background-image: url 'https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjFleXhp87iAhUGNhoKHaTyCE0QjRx6BAgBEAU&url=https%3A%2F%2Fwww.canva.com%2Flearn%2Fmotivational-quotes-creativity%2F&psig=AOvVaw3UTUcXIRGlCMYQ1oWdidKH&ust=1559685106344363'
    
}
form {
    margin: 10px auto;
}