<div class="container-fluid">
        <div class="row">
              <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
                <!-- quote Form -->
                <div class="form-group">
                    <label for="quote">Quote</label>
                    <textarea  class="form-control" rows="4" col="50" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
                    
                    <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                        <p> Quote is Required</p>    
                    </div>
                </div>
                <!-- author Input -->
                <div class="form-group">
                    <label for="author">Author</label>
                    <input class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
                    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                        <p> Author is Required</p>
                        
                    </div>
                    
                </div>
                <!-- name Input -->
                <div class="form-group">
                    <label for="name">Submitted By:</label>
                    <input type='text' id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required >
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <p> Submitter is Required</p>
                        
                    </div>
                </div>
                <button type="Submit" class="btn btn-success btn-lg">Post Quote</button>
            </form>
        </div>
    </div>